.login-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
  background-image: url("@/assets/assets-login-bg-white.png");
  background-position: 100%;
  background-size: cover;
}

.login-container {
  position: absolute;
  top: 22%;
  left: 50%;
  min-height: 500px;
  transform: translateX(-50%);
}

.title-container {

  .title {
    margin-top: var(--td-comp-margin-xs);
    font: var(--td-font-headline-large);
    color: var(--td-text-color-primary);
    text-align: center;

    &.margin-no {
      margin-top: 0;
    }
  }

  .sub-title {
    margin-top: var(--td-comp-margin-xxl);
    text-align: center;

    .tip {
      display: inline-block;
      margin-right: var(--td-comp-margin-s);
      font: var(--td-font-body-medium);

      &:first-child {
        color: var(--td-text-color-secondary);
      }

      &:last-child {
        color: var(--td-text-color-primary);
        cursor: pointer;
      }
    }
  }
}

.item-container {
  width: 400px;
  margin-top: var(--td-comp-margin-xxxxl);

  &.login-qrcode {

    .tip-container {
      display: flex;
      align-items: flex-start;
      margin-bottom: var(--td-comp-margin-l);
      font: var(--td-font-body-medium);

      .tip {
        margin-right: var(--td-comp-margin-s);
        color: var(--td-text-color-primary);
      }

      .refresh {
        display: flex;
        align-items: center;
        color: var(--td-brand-color);

        .t-icon {
          margin-left: var(--td-comp-margin-xs);
          font-size: var(--td-comp-size-xxxs);
        }

        &:hover {
          cursor: pointer;
        }
      }
    }

    .bottom-container {
      margin-top: 32px;
    }
  }

  &.login-phone {

    .bottom-container {
      margin-top: 66px;
    }
  }

  .check-container {
    display: flex;
    align-items: center;

    &.remember-pwd {
      justify-content: space-between;
      margin-bottom: var(--td-comp-margin-l);
    }

    span {
      color: var(--td-brand-color);

      &:hover {
        cursor: pointer;
      }
    }
  }

  .verification-code {
    display: flex;
    align-items: center;

    :deep(.t-form__controls) {
      width: 100%;

      button {
        flex-shrink: 0;
        width: 128px;
        margin-left: var(--td-comp-margin-l);
      }
    }
  }

  .btn-container {
    margin-top: var(--td-comp-margin-xxxxl);
  }
}

.switch-container {
  margin-top: var(--td-comp-margin-xxl);

  .tip {
    display: inline-flex;
    align-items: center;
    margin-right: var(--td-comp-margin-l);
    font: var(--td-font-body-medium);
    color: var(--td-brand-color);
    cursor: pointer;

    &:last-child {

      &::after {
        display: none;
      }
    }

    &::after {
      display: block;
      width: 1px;
      height: 12px;
      margin-left: var(--td-comp-margin-l);
      content: "";
      background: var(--td-component-stroke);
    }
  }
}

.check-container {
  font: var(--td-font-body-medium);
  color: var(--td-text-color-secondary);

  .tip {
    float: right;
    font: var(--td-font-body-medium);
    color: var(--td-brand-color);
  }
}

.copyright {
  position: absolute;
  bottom: 64px;
  left: 50%;
  font: var(--td-font-body-medium);
  color: var(--td-text-color-secondary);
  transform: translateX(-50%);
}

@media screen and (height <=700px) {

  .copyright {
    display: none;
  }
}
